<ui-card class="card" outlined v-shadow="3">
    <ui-card-content>
        <div class="card__container">
            <ui-card-media class="card__media">
                <img :src="getMovieImage(movie.poster_path)" :alt="titleOfType">
            </ui-card-media>
            <div class="card__info">
                <div class="card__info-title">
                    <strong>Name:</strong> {{ titleOfType }}
                </div>
                <div class="card__info-year">
                    <strong>{{ dateTitleOfType }}:</strong> {{ dateValueOfType }}
                </div>
                <div class="card__info-overview">
                    <strong>Overview:</strong> {{ movie.overview }}
                </div>
            </div>
        </div>
    </ui-card-content>
    <ui-list-divider />
    <ui-card-actions>
        <ui-card-actions full-bleed>
            <router-link v-button :to="toDetailPage">
                <div class="card__button">
                    <span>More</span>
                    <ui-icon>arrow_forward</ui-icon>
                </div>
            </router-link>
        </ui-card-actions>
        <ui-card-icons>
            <div class="card__action">
                <div class="card__action-wrapper">
                    <ui-icon class="card__action-icon" title="Popularity">movie</ui-icon>
                    <span>Popularity: <strong>{{ movie.popularity }}</strong></span>
                </div>
                <div class="card__action-wrapper">
                    <ui-icon class="card__action-icon" title="Vote average">star</ui-icon>
                    <span>Vote average: <strong>{{ movie.vote_average }}</strong></span>
                </div>
                <div class="card__action-wrapper">
                    <ui-icon class="card__action-icon" title="Vote count">people</ui-icon>
                    <span>Vote count: <strong>{{ movie.vote_count }}</strong></span>
                </div>
            </div>
        </ui-card-icons>
    </ui-card-actions>
</ui-card>
