<ui-top-app-bar
    content-selector="#content-main"
    :type="type"
    :title="title"
    :navIcon="false"
>

    <template #nav-icon="{ navIconClass }">
        <router-link :to="{ name: 'MainPage'}">
            <div class="logo">
                <img :class="navIconClass" :src="getLogo">
            </div>
        </router-link>
    </template>
    <template #toolbar="{ toolbarItemClass }">
        <ui-icon-button :class="toolbarItemClass" icon="file_download"></ui-icon-button>
        <ui-icon-button :class="toolbarItemClass" icon="print"></ui-icon-button>
        <ui-icon-button :class="toolbarItemClass" icon="bookmark"></ui-icon-button>
    </template>
</ui-top-app-bar>
