*,
*::before,
*::after {
    box-sizing: border-box;
}

#app {
    text-align: center;
    color: #2c3e50;
}

html, body, #app, .application {
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.logo {
    > img {
        width: 100%;
        max-width: 50px;

        @include max-w(600) {
            max-width: 40px;
            margin-left: 10px;
        }
    }
}

.swiper {
    width: 600px;
    height: 400px;

    @include max-w(840) {
        width: 100%;
        height: auto;
        margin: 16px 0;
    }
}

.swiper-slide {
    overflow: hidden;
}
